.meaning{
font-size: 1.6rem;
}

.synonyms{
    font-size: 1.6rem;
    }
    

.list{
    margin-left:3.5rem;

}

.synonyms_list{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;

    margin-top: 3rem;
}

.synonyms_list .item::after{
    content: ",";
    display: inline-block;
}

.synonyms_list .item:last-of-type::after{
display: none;
}