.form{
    display: flex;

    position: relative;

    margin-top: 30px;
    margin-bottom: 20px;

}

.form__input{
width: 100%;
border-radius: 6px;
border: none;
background: #ddd;

padding:10px 5px;



outline: none;
}

.search{
position: absolute;
top: 8px;
right: 10px;

border: none;
background: transparent;
cursor:pointer;

transition: all .2s;
}

.search:hover{
transform: scale(1.1);
}

.error{margin-top: .5rem;
    display: auto;
    padding: 1rem;    

    border-radius: 6px;
    border: 1px red solid;

    color: rgb(255, 0, 0);
    font-size: 1.2rem;
    font-weight: 700;
    
}